<div>
  <div>

      <mat-select #group1 placeholder="Team A" [(ngModel)]="game.group1">
        <mat-option *ngFor="let group of groups" [value]="group">
          {{group.name}}
        </mat-option>
      </mat-select>

  </div>
  <div>

      <mat-select placeholder="Team B" [(ngModel)]="game.group2.id" *ngIf="game && game.group2">
        <mat-option *ngFor="let group of groups" [value]="group.id">
          {{group.name}}
        </mat-option>
      </mat-select>
  </div>
  <div>
    <label>
      Time
      <input [matDatepicker]="gameDatePicker" [(ngModel)]="game.date">
      <mat-datepicker-toggle matSuffix [for]="gameDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #gameDatePicker></mat-datepicker>
    </label>
  </div>
  <div>
    <label>Score A
      <input type="number" [(ngModel)]="game.score1">
    </label>
  </div>

  <div>

    <label>Score B
      <input type="number" [(ngModel)]="game.score2">
    </label>
  </div>
  <div>
    <button (click)="saveGameClick()">Save</button>
  </div>


</div>
