<div>
  <div>
    <input matInput [matDatepicker]="gameDatePicker" [(ngModel)]="game.date">
    <mat-datepicker-toggle matSuffix [for]="gameDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #gameDatePicker></mat-datepicker>
  </div>
  <div>

    <mat-select #group1 placeholder="Team A" [(ngModel)]="game.group1">
      <mat-option *ngFor="let group of groups" [value]="group">
        {{group.name}}
      </mat-option>
    </mat-select>

  </div>


  <div>

    <input type="number" matInput placeholder="Score A" [(ngModel)]="game.score1">
  </div>

  <div>


    <input type="number" matInput [(ngModel)]="game.score2">


  </div>
  <div>

    <mat-select placeholder="Team B" [(ngModel)]="game.group2" *ngIf="game && game.group2">
      <mat-option *ngFor="let group of groups" [value]="group">
        {{group.name}}
      </mat-option>
    </mat-select>
  </div>
  <div>
    <button (click)="saveGameClick()">Save</button>
  </div>


</div>
